
*.xcuserstate

*.xcuserstate

*.xcbkptlist

*.xcbkptlist

*.xcuserstate

*.xcbkptlist

CollapsibleExample.xcodeproj/xcuserdata/lizzyrandall.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

CollapsibleExample.xcodeproj/project.xcworkspace/xcuserdata/lizzyrandall.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

CollapsibleExample/SubclassedFilterViewController.m
